<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{%  static 'css/style.css' %}" rel="stylesheet">
    <title>Produtos</title>
</head>
<body>
    <h1> Produtos </h1>
    {% for produto in rel_produto %}
        <p>Produto: {{ produto.nome_produto }}</p>
        <p>Preço: {{ produto.preco_produto }}</p>
        <p>Descrição: {{ produto.descricao_produto }}</p>
    {% endfor %}
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>